button{
    border-radius: calc((1vh + 1vw)*0.25);
    font-size: calc(1.3vh + 1.3vw);
    color: rgba(var(--bcolor-2), 1);
    border-style: none;
    background: rgba(var(--mcolor-1), 1);
    transition: background-color 0.25s ease-out;
    cursor: pointer;
}

button:hover {
    background-color: rgba(var(--mcolor-1), 0.75);
}