
.tac{
    text-align: center;
}

.tal{
    text-align: left;
}

.tar{
    text-align: right;
}

.vacr{
    vertical-align: center;
}

.vabl{
    vertical-align: baseline;
}

.vame{
    vertical-align: middle;
}