/*#region Color*/
.clr-1{
    color:     rgba(var(--mcolor-1), 1);
}

.clr-2{
    color:     rgba(var(--mcolor-2), 1);
}

.clr-3{
    color:     rgba(var(--bcolor-2), 1);
}

.clr-4{
    color:     rgba(var(--bcolor-1), 1);
}

.clr-5{
    color:     rgba(var(--bcolor-3), 1);
}


.clr-wht{
    color:     rgba(var(--icolor-1), 1);
}
/*#endregion*/

/*#region Background*/
.b-clr-1{
    background-color:     rgba(var(--mcolor-1), 1);
}

.b-clr-2{
    background-color:     rgba(var(--mcolor-2), 1);
}

.b-clr-3{
    background-color:     rgba(var(--bcolor-2), 1);
}

.b-clr-4{
    background-color:     rgba(var(--bcolor-1), 1);
}

.b-clr-5{
    background-color:     rgba(var(--bcolor-3), 1);
}

.b-clr-wht{
    background-color:     rgba(var(--icolor-1), 1);
}


b-clr-tsp{
    background-color:     var(--transparent-color);
}
/*#endregion*/