/*#region Height*/
/*#region Percent*/
.hp05{
    height: 05%;
}

.hp10{
    height: 10%;
}

.hp15{
    height: 15%;
}

.hp20{
    height: 20%;
}

.hp25{
    height: 25%;
}

.hp30{
    height: 30%;
}

.hp35{
    height: 35%;
}

.hp40{
    height: 40%;
}

.hp45{
    height: 45%;
}

.hp50{
    height: 50%;
}

.hp55{
    height: 55%;
}

.hp60{
    height: 60%;
}

.hp65{
    height: 65%;
}

.hp70{
    height: 70%;
}

.hp75{
    height: 75%;
}

.hp80{
    height: 80%;
}

.hp85{
    height: 85%;
}

.hp90{
    height: 90%;
}

.hp95{
    height: 95%;
}

.hp100{
    height: 100%;
}
/*#endregion*/
/*#endregion*/

/*#region minHeight*/
/*#region Percent*/
.hinp05{
    min-height: 05%;
}

.hinp10{
    min-height: 10%;
}

.hinp15{
    min-height: 15%;
}

.hinp20{
    min-height: 20%;
}

.hinp25{
    min-height: 25%;
}

.hinp30{
    min-height: 30%;
}

.hinp35{
    min-height: 35%;
}

.hinp40{
    min-height: 40%;
}

.hinp45{
    min-height: 45%;
}

.hinp50{
    min-height: 50%;
}

.hinp55{
    min-height: 55%;
}

.hinp60{
    min-height: 60%;
}

.hinp65{
    min-height: 65%;
}

.hinp70{
    min-height: 70%;
}

.hinp75{
    min-height: 75%;
}

.hinp80{
    min-height: 80%;
}

.hinp85{
    min-height: 85%;
}

.hinp90{
    min-height: 90%;
}

.hinp95{
    min-height: 95%;
}

.hinp100{
    min-height: 100%;
}
/*#endregion*/
/*#endregion*/

/*#region maxHeight*/
/*#region Percent*/
.haxp05{
    max-height: 05%;
}

.haxp10{
    max-height: 10%;
}

.haxp15{
    max-height: 15%;
}

.haxp20{
    max-height: 20%;
}

.haxp25{
    max-height: 25%;
}

.haxp30{
    max-height: 30%;
}

.haxp35{
    max-height: 35%;
}

.haxp40{
    max-height: 40%;
}

.haxp45{
    max-height: 45%;
}

.haxp50{
    max-height: 50%;
}

.haxp55{
    max-height: 55%;
}

.haxp60{
    max-height: 60%;
}

.haxp65{
    max-height: 65%;
}

.haxp70{
    max-height: 70%;
}

.haxp75{
    max-height: 75%;
}

.haxp80{
    max-height: 80%;
}

.haxp85{
    max-height: 85%;
}

.haxp90{
    max-height: 90%;
}

.haxp95{
    max-height: 95%;
}

.haxp100{
    max-height: 100%;
}
/*#endregion*/
/*#endregion*/