:root{
    --white-color: #ffffff;
    --black-color: #000000;
    --transparent-color: transparent;
    --alert-color: #d06c4d;
    --error-color: #c9883d;
    --success-color: #5bb00a;
}

*{
    transition: background-color 0.2s ease;
}

:root.light{
    --mcolor-1: 250, 130, 40;
    --mcolor-2: 208, 128, 8;

    --bcolor-1: 235, 235, 235;
    --bcolor-1-hover: 250, 250, 250;
    --bcolor-2: 215, 215, 215;
    --bcolor-3: 225, 225, 225;

    --icolor-1: 47, 47, 47;

    --icon-color: rgba(var(--mcolor-1), 1);
    --icon-b-color: rgba(var(--bcolor-1), 1);
    --icon-color-hover: rgba(var(--mcolor-1), 0.75);
    --icon-b-color-hover: rgba(var(--bcolor-1-hover), 1);
    --icon-color-active: rgba(var(--bcolor-1), 1);
    --icon-b-color-active: rgba(var(--mcolor-1), 1);

    --input-color: rgba(var(--icolor-1), 1);
    --input-b-color: rgba(var(--bcolor-2), 1);

    --navbar-color: rgba(var(--bcolor-2), 1);
}

:root.dark{
    --mcolor-1: 255, 166, 0;
    --mcolor-2: 208, 128, 8;

    --bcolor-1: 25, 30, 33;
    --bcolor-1-hover: 21, 24, 26;
    --bcolor-2: 32, 38, 42;
    --bcolor-3: 35, 42, 47;

    --icolor-1: 190,190,180;

    --icon-color: rgba(var(--mcolor-1), 1);
    --icon-b-color: rgba(var(--bcolor-1), 1);
    --icon-color-hover: rgba(var(--mcolor-1), 0.75);
    --icon-b-color-hover: rgba(var(--bcolor-1-hover), 1);
    --icon-color-active: rgba(var(--bcolor-1), 1);
    --icon-b-color-active: rgba(var(--mcolor-1), 1);

    --input-color: rgba(var(--icolor-1), 1);
    --input-b-color: rgba(var(--bcolor-2), 1);

    --navbar-color: rgba(var(--bcolor-2), 1);
}