/*#region Width*/
/*#region Percent*/
.wp05{
    width: 05%;
}

.wp10{
    width: 10%;
}

.wp15{
    width: 15%;
}

.wp20{
    width: 20%;
}

.wp25{
    width: 25%;
}

.wp30{
    width: 30%;
}

.wp35{
    width: 35%;
}

.wp40{
    width: 40%;
}

.wp45{
    width: 45%;
}

.wp50{
    width: 50%;
}

.wp55{
    width: 55%;
}

.wp60{
    width: 60%;
}

.wp65{
    width: 65%;
}

.wp70{
    width: 70%;
}

.wp75{
    width: 75%;
}

.wp80{
    width: 80%;
}

.wp85{
    width: 85%;
}

.wp90{
    width: 90%;
}

.wp95{
    width: 95%;
}

.wp100{
    width: 100%;
}
/*#endregion*/
/*#endregion*/

/*#region minWidth*/
/*#region Percent*/
.winp05{
    min-width: 05%;
}

.winp10{
    min-width: 10%;
}

.winp15{
    min-width: 15%;
}

.winp20{
    min-width: 20%;
}

.winp25{
    min-width: 25%;
}

.winp30{
    min-width: 30%;
}

.winp35{
    min-width: 35%;
}

.winp40{
    min-width: 40%;
}

.winp45{
    min-width: 45%;
}

.winp50{
    min-width: 50%;
}

.winp55{
    min-width: 55%;
}

.winp60{
    min-width: 60%;
}

.winp65{
    min-width: 65%;
}

.winp70{
    min-width: 70%;
}

.winp75{
    min-width: 75%;
}

.winp80{
    min-width: 80%;
}

.winp85{
    min-width: 85%;
}

.winp90{
    min-width: 90%;
}

.winp95{
    min-width: 95%;
}

.winp100{
    min-width: 100%;
}
/*#endregion*/
/*#endregion*/

/*#region maxWidth*/
/*#region Percent*/
.waxp05{
    max-width: 05%;
}

.waxp10{
    max-width: 10%;
}

.waxp15{
    max-width: 15%;
}

.waxp20{
    max-width: 20%;
}

.waxp25{
    max-width: 25%;
}

.waxp30{
    max-width: 30%;
}

.waxp35{
    max-width: 35%;
}

.waxp40{
    max-width: 40%;
}

.waxp45{
    max-width: 45%;
}

.waxp50{
    max-width: 50%;
}

.waxp55{
    max-width: 55%;
}

.waxp60{
    max-width: 60%;
}

.waxp65{
    max-width: 65%;
}

.waxp70{
    max-width: 70%;
}

.waxp75{
    max-width: 75%;
}

.waxp80{
    max-width: 80%;
}

.waxp85{
    max-width: 85%;
}

.waxp90{
    max-width: 90%;
}

.waxp95{
    max-width: 95%;
}

.waxp100{
    max-width: 100%;
}
/*#endregion*/
/*#endregion*/